body {
    background-color: #E67D42;
font-family: "Inter", sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.container{
    margin: 120px auto;
    max-width: 600px;
    border: 1px solid black;
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  line-height: 1.5;
}

h2 {
  font-family: "Almarai", sans-serif;
font-weight: 400;
font-size: 15px;
line-height: 1.5;
text-decoration: underline;

}

form {
    padding:30px;
    display: flex;
    margin-bottom: 30px;
    color: black;
}

input:placeholder {
    color: black;
}


.instructions{
padding: 16px;
  border: 1px solid black;
  width: 80%;
  font-size: 16px;
background-color: #E67D42;
  line-height: 20px;
}

.submit-button {
    margin-left: 10px;
    background: none;
 
    border: none;
    width: 150px;
    font-size: 16px;
border: 1px solid black;
    padding: 14px 24px;
    cursor: url("./imgs/cocktail.svg") 12 12, auto;
  }


  .recipe {
    text-align: left;
    font-size: 12px;
  background-color: none;
  padding: 20px;
  line-height: 2;
  border: 1px solid black;

  }
ul {
  padding: 0px;
}
  

  li {
    border-bottom: 1px solid black;
    list-style: none;
  
  }

  footer {
    text-align: center;
    padding: 10px;
}

